/* Corrects `block` display not defined in IE 8/9. */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

/* Corrects `inline-block` display not defined in IE 8/9. */
audio,
canvas,
video {
  display: inline-block;
}

/* Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices. */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* Addresses styling for `hidden` attribute not present in IE 8/9. */
[hidden] {
  display: none;
}

#tagline {
  display: block;
  overflow: hidden;
  /* Let height include floats */
  margin: 0;
  padding: 0;
  color: #ffffff;
  background: #993300;
  min-height: 23px;
  /* Height of rounded corner */
  border-radius: 0 28px 0 0;
}
#tagline p {
  margin: 0;
  padding: 0.3em 20px 0.3em 0.3em;
  /* 20px makes room for rounded corner */
  text-align: right;
}
.status {
  padding: .25em;
  margin-bottom: -1.5em;
}
.status h3, .status p {
  display: inline;
  color: inherit;
  font-size: 1em;
}
.draft .status {
  background-color: #CFC;
}
.editors-draft .status {
  background-color: #FCC;
}
#nav {
  float: none;
  width: auto;
}
#main {
  margin: 0;
  overflow:auto;
}
#logos img {
  max-width: none;
}


#main h2 {
  margin-top: 3em;
}

p.totop {
  background-color: inherit;
  display: auto;
}

p.totop a {
  background: #eff5fb url("http://www.w3.org/Icons/topofpage.png") no-repeat scroll 0.5em center;
  display: inline-block;
  padding: 0.2em 0.7em 0.3em 1.8em;
  border-radius: 2px;
	text-decoration: none;
}

p.totop a:hover, p.totop a:focus {
	text-decoration: underline;
}

.btn {
  background: linear-gradient(to bottom, #e6e6e6, #ccc);
  color: #333;
  font-weight: normal;
  font-size: 1em;
  line-height: 244.44444%;
  padding: .5em .75em;
  text-decoration: none;
  white-space: nowrap;
  border-color: #ccc;
  border-width: 1px;
  border-style: solid;
  border-radius: .25em;
}
.btn:hover, .btn:focus {
  color: #333;
  text-decoration: none;
  background: linear-gradient(to bottom, #ccc, #b3b3b3);
}

.contribute {
  box-sizing: border-box;
  border: 1px solid #666 !important;
  background-color: #fff7f0;
  border-radius: .5em;
  padding: 1em;
  margin: 1em auto;
  width: 90%;
}
.contribute .heading {
  color: #333333 !important;
  border-bottom: none !important;
  font-weight: bold;
  font-size: 1em;
  margin: 0 !important;
  padding: 0 !important;
}
.contribute .heading + p {
  margin-top: 0.5em;
}
.contribute .buttons {
  text-align: center;
  margin-top: 1em;
  padding: .5em 0 0;
  border-top: 1px solid #ccc;
  line-height: 300%;
}

@media screen and (min-width: 43em) {
  #nav {
    float: left;
    width: 24%;
  }
  #main {
    margin: 0 0 0 27%;
  }
  .contribute {
    width: 65%;
  }
}

@media print {
  body {
    background: #ffffff;
  }
  header img {
    max-width: none;
  }
  header #masthead {
    margin: 0;
    float: left;
  }
  header #masthead > p, header #masthead p {
    margin: 0;
    width: auto;
    border-right: none;
  }
  header #tagline {
    background: none;
    color: #333;
  }
  header #tagline p {
    text-align: left;
  }
  #main {
    margin: 0;
  }
  #controls, #nav, nav.section, .contribute, .permalink {
    display: none;
  }
  .color-alone img {
    width: 150px;
    height: 150px;
  }
}

/** PERMALINKS **/

.permalink-wrapper {
  position: relative;
}

.permalink {
  position: absolute;
  margin: 0 0 -0.3em 0.5em;
  bottom: 0;
  right: 0;
}
.permalink.h4 {
  margin-top: .75em;
}
.permalink > a {
  color: #666 !important;
  border: 1px solid transparent;
  text-decoration: none;
  padding: 0.5em 0.5em 0.3em;
  display: inline-block;
  vertical-align: middle;
  margin-left: .5em;
  font-weight: bold;
  font-size: 60%;
  white-space: nowrap;
}
.permalink > a svg {
  vertical-align: middle;
  display: inline-block;
  height: 1.8em;
  width: 1.8em;
  fill: currentcolor;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.permalink > a:hover, .permalink > a:focus {
  border: 1px solid darkgray;
}
.permalink .sharebox {
  font-size: 90%;
  display: none;
  position: absolute;
  z-index: 999;
  top: 120%;
  right: 0;
  border: 1px solid #8f8f8f;
  padding: .5em;
  min-width: 20em;
  max-width: 100%;
  box-shadow: 0 0 10px -5px #8f8f8f;
  background-color: #f5f5f5;
}
.permalink .sharebox.open {
  display: block;
}
.permalink .sharebox input {
  display: block;
  width: 100%;
  box-sizing: border-box;
}
.permalink .sharebox label span {
  display: block;
  text-align: right;
}
.permalink .sharebox button {
  background: -webkit-linear-gradient(top, #c2c2c2, #cfcfcf);
  background: linear-gradient(to bottom, #c2c2c2, #cfcfcf);
  color: #4d4d4d;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.75;
  padding: .15em .4em;
  border-width: 1px;
  border-style: solid;
  border-radius: .25em;
  position: absolute;
  bottom: 0.5em;
  right: 0.5em;
}
.permalink .sharebox button:hover, .permalink .sharebox button:focus {
  background: -webkit-linear-gradient(top, #333333, #404040);
  background: linear-gradient(to bottom, #333333, #404040);
  color: gainsboro;
}
.permalink .sharebox p:first-child {
  margin-top: 0;
}

/* video styles */
video {
  max-width: 100%;
}

.video-container {
  clear:right;
}

.video-container + p {
  clear: both;
  max-width: 34.285714286em;
}

.video-container + p + ul {
  margin-left: 0;
  padding-left: 0;
  max-width: 34.285714286em;
}

.video-container + p + ul > li {
  list-style:none;
}


/* ex-col jumping with hover/focus temp fix. Ideally this should be incorporated
  into /WAI/style/excol.css to address this issue throughout the site */
.f_panelHead {
  border-bottom: solid #fffaf5;
  padding-left: 1.6em;
  position: relative;
}
.f_panelHead.fs_hover, .f_panelHead.fs_focus {
  border-bottom: solid #993300;
}
.f_panelHead.fs_selected {
  border-bottom: solid #993300;
}
.f_expanderWrapper {
  float: none;
  position: absolute;
  left: 0;
  top: 0;
}

.f_panelHead {
  display:block;
  padding-top: 1px;
  padding-bottom: 1px;
  font-weight: bold;
}

.f_panelHead + *, .f_panelHead + * ~ * {
  margin: 0 0 5px 30px;
}

.f_panelHead + ul {
  padding-left: 20px;
}

.f_panelHead + ul li {
  margin-bottom: 5px;
}

.f_panelHead + * {
  margin-top: 10px;
}

.f_panelHead + *:last-child, .f_panelHead + * ~ *:last-child {
  margin-bottom: 10px;
}
